<ion-header>
  <ion-navbar>
    <button menuToggle *ngIf="!selectedItem">
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Country Details</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  
    <ion-card>
        <ion-card-header *ngIf="selectedItem">
          {{selectedItem.title}}
        </ion-card-header>
        <ion-card-content *ngIf="selectedItem">
          {{selectedItem.about}}
        </ion-card-content>
      </ion-card>
      <!-- <div #map id="map"></div>  -->
      <div id="map1"></div>
</ion-content>


